<p style="display:none;"><%- appKeys %></p>
<main id="ep-app" class="cover-container d-flex w-100 h-80 p-3 mx-auto flex-column">
    <header class="mb-auto">
        <div>
            <a href="<%- appUrl %>" class="text-white">
                <h3 class="float-md-start mb-0"><i class="ti ti-yin-yang"></i>&nbsp;<%- appTitle %></h3>
            </a>
            <nav class="nav nav-masthead justify-content-center float-md-end">
                <a class="nav-link active" href="#"><i class="ti ti-home-2"></i>&nbsp;Home</a>
      <a class="nav-link" href="#!/project"><i class="ti ti-archive"></i>&nbsp;Projects</a>
                <a class="nav-link" href="mailto:<%- appContactAddress %>"><i class="ti ti-mail"></i>&nbsp;Contact</a>
            </nav>
        </div>
    </header>
    <br/><br/><br/><br/><br/>
    <main class="px-3">
        <h1><%- appTitle %></h1><br/>
        <h3 class="lead"><%- appDesc %></h3><br/>
        <!-- <p class="lead">
            <div class="modal fade" id="modal-learn-more" tabindex="-1" aria-hidden="true"></div>
            <a href="#" id="learn-more" class="btn btn-lg btn-secondary fw-bold border-white bg-white" data-bs-toggle="modal" data-bs-target="#modal-learn-more">Learn more</a>
        </p> -->
    </main>
    <br/><br/><br/><br/><br/>
    <footer class="mt-auto text-white-50"><p><%- appCopyright %></p><br/></footer>  
</main>
<footer class="container">
<footer class="d-flex w-100 h-10 flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
  <div class="col-md-4 d-flex align-items-center">
    <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
      <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
    </a>
    <span class="text-muted">&copy; 2021 Company, Inc</span>
  </div>

  <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
    <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
    <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
    <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
  </ul>
</footer>
</footer>


<main id="ep-app" class="cover-container d-flex w-100 h-80 p-3 mx-auto flex-column">
    <div class="px-3">
        <h1><%- appTitle %></h1><br/>
        <h3 class="lead"><%- appDesc %></h3><br/>
        <!-- <p class="lead">
            <div class="modal fade" id="modal-learn-more" tabindex="-1" aria-hidden="true"></div>
            <a href="#" id="learn-more" class="btn btn-lg btn-secondary fw-bold border-white bg-white" data-bs-toggle="modal" data-bs-target="#modal-learn-more">Learn more</a>
        </p> -->
      </div>
  </main>
  <footer class="container">
    <div class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
          <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
        </a>
        <span class="text-muted">&copy; 2021 Company, Inc</span>
      </div>
  
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
      </ul>
    </div>
  </footer>